.signup-container{
    background-color: #f1f0f5;
    border-radius: 4vh;
    width: 70vh;
    height: 32vh;
}

#signup-input{
    font-family: "Google Sans", sans-serif;
    font-weight: bold;
    font-size: larger;
    border-style: solid;
    border-color: #33bec0;
    border-radius: 2vh;
    border-width: 0.5vh;
    width: 25vh;
}

.signup-button{
    color: #ffffff;
    background-color: #33bec0;
    border-color: #2d9ea0;
    border-radius: 2.5vh;
    width: 15vh;
    height: 5vh;
    border-style: hidden;
    font-family: "Google Sans", sans-serif;
    font-weight: bold;
    font-size: larger;
}

.signup-button:hover{
    border-width: 0.5vh;
    border-style: solid;
}

.signup-button:active{
    border-width: 0.5vh;
    border-style: solid;
    color: #2d9ea0;
}

.signup-header{
    font-family: "Google Sans", sans-serif;
    font-weight: bolder;
    text-align: center;
}

#signup-button-row{
    margin-top: 2vh;
}

.signup-row{
    margin-top: 5vh;
}

.signup-col{
    margin-top: 2.5vh;
}