ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f0f5;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 1vh 3vh;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    border-bottom-width: 0.5vh;
    border-color: #f1f0f5;
    border-style: solid;
}

li a:hover {
    border-bottom-color: #33bec0;
    text-decoration: none;
    color: black;
}

li a:active{
    color: #33bec0;
    border-bottom-color: #33bec0;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v13/6xKtdSZaM9iE8KbpRA_hK1QN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.nav-button{
    color: black;
    background: #f1f0f5;
    border-style: solid;
    padding: 1vh 3vh;
    font-family: "Quicksand", sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    border-bottom-width: 0.5vh;
    border-color: #f1f0f5;
}

.nav-button:hover{
    border-bottom-color: #33bec0;
    color: black;
}

.nav-button:active{
    color: #33bec0;
    border-bottom-color: #33bec0;
}

.current{
    border-bottom-width: 0.5vh;
    border-bottom-color: #33bec0;
}
